---
layout: default
title: Home
nav: Home
---
<div class="row" style="margin-bottom:30px">
  <div class="home col-md-8">
    {% for post in site.posts %}
    <div class="post-contents">
      <h2>
		
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }<br>
		</a><img src={{post.picture}} width ="50%" height="auto">
      </h2>
      <div style="height:50px;">
		<a href="{{ post.url }}" class="button readmore-button">Veja mais</a>
      </div>
    </div>
    <br />
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="post-contents">
      <i class="fa fa-tags">&nbsp;&nbsp; Tags</i><br />
      {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <span class="label label-default">{{t | downcase | replace:" ","-" }} ( {{ posts | size }} )</span><br />
      {% endfor %}
    </div>
    <br />
    
    </div>
</div>

<script>
  var disqus_shortname = 'adagio-cantabile';
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
